@media (max-width: 1780px) {
	.questions-bg::before {
		left: -58px;
	}
	.questions-bg::after {
		right: 57px;
	}
}

@media (max-width: 1590px) {
	.questions-bg::before {
		left: -150px;
	}
	.questions-bg::after {
		right: 5px;
	}
}

@media (max-width: 1440px) {

	.header__top .container {
		max-width: 1200px;
	}

	.header__top-desc,
	.footer__desc {
		margin-left: 20px;
	}

	header {
		padding-top: 157px;
	}

	.questions-bg::before {
		left: -128px;
	}

	.questions-bg::after {
		right: 595px;
	}

	.questions-bg::before {
		opacity: 0.5;
	}

	.questions-bg::after {
		top: 65%;
	}

}

@media (max-width: 1366px) {
	.container {
		max-width: 1140px;
	}
	.header__top .container {
		max-width: 1140px;
	}
	html {
		font-size: 15px;
	}

	.form-main__desc {
		font-size: 14px;
	}

	.form-const {
		max-width: 414px;
	}

	.form-const {
		max-width: 398px;
	}
	h1 {
		margin-bottom: 40px;
		line-height: 57px;
	}

	h2 {
		font-size: 2.700em;
		line-height: 57px;
		margin-bottom: 50px;
	}
	h3 {
		line-height: 54px;
	}

	section {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	header {
		padding-top: 20vh;
		padding-bottom: 70px;
	}
	input {
		width: 365px;
		max-width: 327px;
		height: 64px;
		padding: 18px 44px;
	}
	.input-left {
		padding-left: 85px;
	}

	.button__form {
		max-width: 327px;
		min-height: 69px;
		margin-bottom: 20px;
	}

	.form-main__title {
		line-height: 31px;
		margin-bottom: 20px;
	}

	.form-main__desc {
		margin-bottom: 20px;
	}

	.form-main__contact {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.header__main ul li {
		max-width: 550px;
		min-height: 77px;
		margin-bottom: 20px;
		padding-left: 87px;
	}

	.repair__item {
		margin: 43px;
	}

	.contact__map-wrap iframe {
		height: 500px;
	}

	.contact__form-title {
		font-size: 2.200em;
	}

	.contact__phone {
		font-size: 2.200em;
	}

	.header__main ul li::before {
		width: 42px;
		height: 42px;
		left: 25px;
		background-size: 220px;
	}

	.header__main ul li:nth-child(2)::before {
		background-position: -90px 0;
	}

	.header__main ul li:nth-child(3)::before {
		background-position: -180px 0;
	}

	.form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

@media (max-width: 1280px) {
	.container,
	.header__top .container {
		max-width: 960px;
	}

	.header__top .container {
		max-width: 1140px;
	}

	.header__top-desc {
		display: none;
	}

	h1 {
		font-size: 2.75em;
	}

	.form-main__contact {
		font-size: 12px;
	}

	.form-main__w {
		margin-left: 10px;
	}

	.form-main__v {
		margin-left: 10px;
	}

	.form-main__desc {
		width: 300px;
	}

	.form-const__wrap {
		padding: 20px 7px;
	}

	.proff__items {
		justify-content: space-evenly;
	}

	.installation__l {
		max-width: 525px;
	}

	.installation__l h3 {
		font-size: 2.175em;
	}

	.form-install::before {
		top: -4px;
		right: -119px;
		background-size: 141px;
	}

	.footer__logo-wrap {
		align-items: flex-start;
		flex-direction: column;
	}

	.header__top-button,
	.main-button,
	.footer__button {
		max-width: 280px;
		min-height: 48px;
	}

	.form-const {
		max-width: 350px;
	}

	input {
		max-width: 290px;
		height: 58px;
		padding: 18px 26px;
	}
	.input-left {
		padding-left: 69px;
	}

	.button__form {
		max-width: 290px;
		min-height: 64px;
	}

	h1 {
		line-height: 53px;
	}

	.header__main ul li {
		max-width: 518px;
		min-height: 72px;
	}

	h2 {
		font-size: 2.600em;
		line-height: 45px;
	}

	.repair__item {
		margin: 10px;
	}

	h3 {
		line-height: 48px;
	}

	.footer__desc {
		margin-left: 0;
	}

	.footer__logo {
		margin-bottom: 10px;
	}

	.footer__wrap {
		align-items: flex-start;
	}
	.contact__form-wrap {
		max-width: 369px;
	}

	.contact__form-title {
		font-size: 1.800em;
	}

	.contact__phone {
		font-size: 1.8em;
	}
	
	.cert__wrap {
		width: 710px;
		margin: 0 auto;
	}
	.fancybox-content {
		padding: 33px;
	}
}

@media (max-width: 1024px) {

	.slick-prev {
		left: 0;
	}

	.slick-prev,
	.slick-next {
		z-index: 10;
	}

	.slick-next {
		right: 0;
	}

	.cert__item {
		margin: 38px;
	}
	.questions-bg::after {
		top: 49%;
	}

	.install__dogovor-wrap {
		width: 354px;
	}

	.install__dogovor {
		height: 85px;
		padding-left: 141px;
	}
	h2 {
		margin-bottom: 30px;
	}
	
	.repair__number {
		margin-bottom: 20px;
	}
	.input-left {
		padding-left: 73px;
	}

}

@media (max-width: 960px) {
	.container,
	.header__top .container {
		max-width: 720px;
	}
	header {
		padding-top: 17vh;
	}
	.form__header {
		display: none;
	}

	.header__main-wrap {
		justify-content: center;
	}

	.header__top {
		padding-top: 3px;
	}

	.header__main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.header__main>h1:nth-child(1) {
		text-align: center;
	}

	.header__top-logo {
		width: 150px;
	}
	.fixed-top .header__top-logo {
		width: 150px;
	}

	.header__top-button {
		max-width: 240px;
		min-height: 41px;
	}

	.header__top-phone {
		font-size: 23px;
	}
	.fixed-top {
		padding-bottom: 3px;
	}

	.header__top-link-form{
		font-size: 13px;
	}

	html {
		font-size: 14px;
	}

	.form-main__title {
		line-height: 28px;
	}

	.form-main__desc {
		margin-bottom: 17px;
	}

	.form-main__contact {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.form-const__wrap {
		padding: 16px 7px;
	}

	.exit h3 {
		max-width: 312px;
		margin-left: 0;
	}

	.repair__item {
		margin: 24px;
	}

	.installation__l {
		max-width: 100%;
		margin-bottom: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.installation__l h3 {
		text-align: center;
	}

	.header__main ul li {
		max-width: 382px;
	}

	.install__dogovor-wrap {
		width: 332px;
	}

	.install__dogovor {
		height: 73px;
		padding-left: 120px;
	}

	.questions-bg::after {
		top: 40%;
	}

	.questions-bg::before {
		opacity: 0.3;
	}

	.questions-bg::after {
		right: 525px;
	}

	.header__main ul li::before {
		left: 16px;
	}

	.header__main ul li {
		padding-left: 80px;
		padding-right: 28px;
	}

	.installation__wrap {
		flex-direction: column;
	}

	.install__dogovor::before {
		width: 115px;
		height: 126px;
		background-size: 115px;
	}

	.questions__wrap h2 {
		margin-left: 0;
	}

	.footer__button {
		display: none;
	}

	.header__main>ul:nth-child(2)>li:nth-child(1) {
		padding-right: 102px;
	}
	.contact__form-wrap {
		left: 49%;
	}

	.contact__form {
		padding: 20px 16px;
		font-size: 16px;
	}

	.contact__phone {
		margin-bottom: 25px;
	}

	.contact__form>p:nth-child(3) {
		margin-bottom: 28px;
	}

	.contact__form-title {
		margin-bottom: 34px;
	}


}

@media (max-width: 800px) {
	.form-main__v {
		display: none !important;
	}
	.mobile {
		display: block !important;
	}
}

@media (max-width: 720px) {
	.container,
	.header__top .container {
		max-width: 540px;
	}

	.header__top-button {
		display: none;
	}

	h1 {
		line-height: 45px;
		font-size: 2.35em;
	}

	h2 {
		font-size: 2.200em;
		line-height: 38px;
	}

	h3 {
		line-height: 42px;
	}

	section {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.exit h3 {
		max-width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.exit__wrap {
		flex-direction: column;
	}

	h3 {
		font-size: 2.225em;
	}

	.repair__item {
		margin: 24px 100px;
	}
	.cert__wrap {
		width: 100%;
	}
	.cert__item {
		margin: 20px 107px;
	}

	.questions__wrap {
		flex-direction: column;
	}

	section.questions {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.questions-bg::before {
		width: 250px;
		height: 468px;
		background-size: 250px;
	}

	.footer__phone {
		font-size: 20px;
	}

	.footer__link-form {
		font-size: 13px;
	}

	.footer__desc {
		font-size: 11px;
		line-height: 18px;
	}

  .questions__wrap h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .questions-bg::after {
    right: 94px;
  }
  .questions-bg::after {
    top: 35%;
  }

  .questions-bg::before {
    left: -29px;
  }

	.footer__logo>img:nth-child(1) {
		width: 100%;
	}

	.footer__logo {
		width: 200px;
	}
	.slick-active .repair__item {
		box-shadow: 0 0 4px rgba(196, 196, 196, 0.5);
	}
	.repair__item:hover {
		box-shadow: 0 0 15px #c4c4c4;
	}

}

@media (max-width: 540px) {
	.container,
	.header__top .container {
		max-width: 100%;
	}

  header {
    height: 100vh;
		padding-bottom: 30px;
  }

  h1 {
    margin-bottom: 7vh;
		line-height: 42px;
		font-size: 2.1em;
  }
  .header__main ul li {
    margin-bottom: 3vh;
  }

  h2 {
   font-size: 1.6em;
	line-height: 26px;
  }
  h3 {
		font-size: 1.7em;
		line-height: 27px;
	}

  .repair__item {
    margin: 17px 98px;
  }

  .form-main__title {
    line-height: 26px;
  }

  .repair__number {
    margin-bottom: 10px;
  }

	.form-main__title {
		font-size: 20px;
	}

	.repair__title {
		font-size: 2em;
	}

  .installation__l h3 {
    font-size: 1.6em;
  }

  .install__dogovor::before {
    width: 90px;
    height: 97px;
    background-size: 90px;
  }
  .install__dogovor {
    height: 57px;
		font-size: 1.200em;
		padding-left: 95px;
  }

  .install__dogovor-wrap {
    width: 258px;
  }
  .installation__l {
    margin-bottom: 25px;
  }

  .cert__item {
    margin: 17px 108px;
  }

	.install__dogovor::before {
		left: 12px;
		bottom: 8px;
	}

	.installation__l h3 {
		margin-bottom: 70px;
	}

	.slick-list {
		padding-top: 10px;
		padding-bottom: 30px;
	}

	.questions-bg::before {
		top: 63%;
		background-size: 234px;
	}

  .questions-bg::after {
    top: 23%;
		right: -36px;
	}
  .contact__map-wrap iframe {
    height: 300px;
  }
  .contact__form-wrap {
    left: 0;
  }

  .contact__form-wrap {
    max-width: 100%;
  }

	.contact__form-wrap {
		position: relative;
		top: 0;
		transform: none;
	}

	.contact__form-wrap {
		box-shadow: none;
	}

	.footer__wrap {
		justify-content: center;
	}

	footer {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.contact__form {
		line-height: 27px;
	}

	.footer__contact {
		display: none;
	}

  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact__form-title {
    margin-bottom: 14px;
  }
  .contact__form>p:nth-child(3) {
    margin-bottom: 20px;
  }
  .contact__phone {
    margin-bottom: 17px;
	}
	
	#map1 {
		display: none;
	}
	#map2 {
		display: block;
	}


}

@media (max-width: 480px) {

	.header__top .container {
		padding-left: 5px;
		padding-right: 5px;
	}

	.header__main ul li {
		font-size: 1em;
	}

  .header__top-phone {
    font-size: 18px;
  }
  .header__top-logo {
    width: 140px;
  }
  .header__top-link-form {
    font-size: 12px;
  }
  .fixed-top .header__top-logo {
    width: 140px;
  }
  header {
    padding-top: 15vh;
  }
  .header__main>ul:nth-child(2)>li:nth-child(1) {
    padding-right: 4px;
  }
  .header__main ul li {
    padding-left: 64px;
    padding-right: 3px;
  }
  .header__main ul li::before {
    left: 12px;
  }

  h1 {
    line-height: 34px;
    font-size: 1.7em;
  }

  .header__main ul li::before {
    width: 38px;
    height: 38px;
    background-size: 200px;
  }
  .header__main ul li:nth-child(2)::before {
    background-position: -80px 0;
  }
  .header__main ul li:nth-child(3)::before {
    background-position: -163px 0;
  }

  .header__main ul li {
    min-height: 65px;
	}

	.proff__item,
	.proff__item-img {
		width: 300px;
	}

	.form-main__desc {
		width: 100%;
		font-size: 13px;
		line-height: 21px;
	}

	input {
		border-radius: 10px;
		font-size: 1em;
	}

	.button__form {
		max-width: 244px;
		min-height: 56px;
		border-radius: 10px;
	}

  .form-main__title {
    font-size: 19px;
		line-height: 24px;
  }

  input {
    max-width: 244px;
    height: 51px;
    padding: 18px 11px;
  }

	.form-main-footer__wrap {
		flex-direction: column;
		align-items: center;
	}

  .form-const__wrap {
    padding: 12px 7px;
	}
	.cert__item {
		margin: 17px 10px;
	}
	.repair__number {
		width: 130px;
		height: 72px;
	}

  .repair__item {
    margin: 17px 5px;
    box-shadow: 0 0 1px #c4c4c48c;
  }

	.slick-list {
		padding: 0;
	}
	.certificate>div:nth-child(1) {
  width: 320px;
	}

	.contact__form {
		margin: 30px 13px;
	}
	.input-left {
		padding-left: 55px;
	}

	footer {
		padding-top: 10px;
	}


  .fancybox-content {
		padding: 15px 5px;
		overflow: hidden;
  }

  .form__modal .button__form {
    max-width: 265px;
  }

	.fancybox-slide--html .fancybox-close-small {
		right: -9px;
		top: -9px;
	}

	.form__modal input {
		width: 300px;
		max-width: 265px;
	}

	.form__modal .button__form {
		width: 300px;
		min-height: 61px;
	}

	.form__modal {
		width: 280px;
	}


}