* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}
a,
a:visited,
a:focus,
a:active,
a:hover {
	outline: 0 none !important;
}

button:active,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0 !important;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.header__top .container {
	max-width: 1300px;
}
.header__top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 36px;
	color: #ffffff;
}

.header__top-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo-wrap {
	display: flex;
	align-items: center;
}
.header__top-desc {
	margin-left: 32px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}
.header__top-contact {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.header__top-phone {
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	text-decoration: none;
	color: #FFFFFF;
}
.header__top-link-form {
	font-size: 14px;
	text-decoration: none;
	color: #FFD60D;
}

.header__top-button,
.main-button,
.footer__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 293px;
	max-width: 293px;
	min-height: 52px;
	background: #FFD60D;
	border-radius: 5px;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
header {
	padding-top: 200px;
	background-image: url('../img/header-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}
.header__main-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1 {
	font-weight: bold;
	font-size: 46px;
	line-height: 56px;
}
.header__main ul li {
	display: flex;
	align-items: center;
	/* width: 579px; */
	max-width: 579px;
	min-height: 82px;
	margin-bottom: 30px;
	padding-left: 107px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.form-const {
	background: #ffffff;
	color: #000000;
	border-radius: 15px;
}
.form-const__wrap {
	border: 1px solid #D1D1D1;
	box-sizing: border-box;
	border-radius: 15px;
	margin: 16px 13px;
	padding: 23px 30px;
}
.button__form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 387px;
	max-width: 387px;
	min-height: 86px;
	background: #FFD60D;
	border: none;
	border-radius: 15px;
	box-shadow: 0px 2px 0px #D3B210;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}