* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Montserrat'; */
	font-size: 16px;
	font-weight: normal;
}
p {
	font-family: 'Montserrat', sans-serif;
	/* font-family: 'Montserrat'; */
}
body {
	max-width: 2000px;
	margin: 0 auto;
}
a,
a:visited,
a:focus,
a:active,
a:hover {
	outline: 0 none !important;
}

button:active,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0 !important;
}
section {
	padding-top: 70px;
	padding-bottom: 70px;
}

.mask,
.mask-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mask {
	z-index: -2;
	background: rgba(0, 0, 0, 0.7);
}
.mask-item {
	z-index: 0;
	background: rgba(0, 0, 0, 0.5);
}
.forminput {
	display: none;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

/* -------------- */
.header__top .container {
	max-width: 1300px;
}
.header__top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 36px;
	color: #ffffff;
	z-index: 10;
	transition: all 0.3s;
}

.header__top-wrap,
.footer__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo-wrap,
.footer__logo-wrap {
	display: flex;
	align-items: center;
}
.header__top-desc,
.footer__desc {
	margin-left: 32px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	transition: all 0.3s;
}
.header__top-contact,
.footer__contact {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.header__top-phone,
.footer__phone {
	font-weight: 600;
	font-size: 30px;
	line-height: 29px;
	text-decoration: none;
	color: #FFFFFF;
}
.header__top-phone:hover {
	color: #FFD60D;
}
.header__top-link-form,
.footer__link-form {
	font-size: 14px;
	text-decoration: none;
	color: #FFD60D;
}
.header__top-link-form:hover {
	color: #FFFFFF;
}

.header__top-button,
.main-button,
.footer__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 293px;
	max-width: 293px;
	min-height: 52px;
	background: #FFD60D;
	border-radius: 5px;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	text-decoration: none;
	text-align: center;
	transition: all 0.2s;
}
.header__top-button:hover {
	box-shadow: 0 0 12px #eeeeeed4;
	transform: scale(1.01);
}
.main-button:hover,
.footer__button:hover {
	box-shadow: 0 0 12px #c4c4c4;
	transform: scale(1.01);
}
.header__top-button:active,
.main-button:active,
.footer__button:active {
	box-shadow: none;
	transform: scale(1);
}
/* --------fixed--------- */

.fixed-top {
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #11110f;
	box-shadow: 0 0 20px #000;
}
.fixed-top .header__top-desc,
.fixed-top .footer__desc {
	margin-left: 15px;
	font-size: 13px;
	line-height: 19px;
}

/* -------------- */
header {
	padding-top: 200px;
	color: #ffffff;
	padding-bottom: 100px;
}
.header__bg {
	position: relative;
	background-image: url('../img/header/header-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 1;
}
.header__bg::before {
	position: absolute;
	top: 50%;
	left: 0;
	content: '';
	width: 294px;
	height: 718px;
	background-image: url('../img/smoke-l.png');
	background-repeat: no-repeat;
	background-size: 294px;
	transform: translateY(-50%);
	z-index: -1;
}
.header__bg::after {
	position: absolute;
	top: 50%;
	right: 0;
	content: '';
	width: 319px;
	height: 718px;
	background-image: url('../img/smoke-r.png');
	background-repeat: no-repeat;
	background-size: 319px;
	transform: translateY(-50%);
	z-index: -1;
}
.header__main-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1 {
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 46px;
	line-height: 64px;
}
.header__main ul li {
	position: relative;
	display: flex;
	align-items: center;
	/* width: 579px; */
	max-width: 579px;
	min-height: 82px;
	margin-bottom: 30px;
	padding-left: 107px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	background: #FFFFFF;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	transition: all 0.2s;
}
/* .header__main ul li:hover {
	transform: scale(1.03);
	box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.42);
} */
.header__main ul li::before {
	position: absolute;
	width: 47px;
	height: 47px;
	top: 50%;
	left: 31px;
	content: '';
	background-image: url('../img/header-sprite.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	transform: translateY(-50%);
}
.header__main ul li:nth-child(2)::before {
	background-position: -105px 0;
}
.header__main ul li:nth-child(3)::before {
	background-position: -211px 0;
}
.header__main ul li span {
	font-weight: 600;
	color: #2164E5;
}
.form-const {
	width: 100%;
	max-width: 469px;
	background: #ffffff;
	color: #000000;
	border-radius: 15px;
	transition: box-shadow 1.5s;
}
.form-const__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #D1D1D1;
	box-sizing: border-box;
	border-radius: 15px;
	margin: 16px 13px;
	padding: 20px 27px;
	
}
.form-const:hover {
	/* animation: form 1.5s linear 0s infinite alternate; */
	box-shadow: 0 0 50px #aaa;
	transition: box-shadow 1.5s;
}
/* @keyframes form {
	0% {
		box-shadow: 0 0 0 #aaa;
	}
	100% {
		box-shadow: 0 0 50px #aaa;
	}
} */
.form-main__title {
	font-weight: 600;
	font-size: 22px;
	line-height: 34px;
	text-align: center;
	margin-bottom: 30px;
}
.form-main__desc {
	/* padding: 0 37px; */
	display: inline-block;
	width: 324px;
	margin-bottom: 50px;
	font-size: 14px;
	line-height: 23px;
	text-align: center;
	box-sizing: border-box;
}
input {
	width: 387px;
	max-width: 387px;
	height: 74px;
	padding: 27px 67px;
	margin-bottom: 18px;
	background: #E5E5E5;
	box-shadow: inset 0px 5px 7px rgba(0, 0, 0, 0.05);
	border: none;
	border-radius: 15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	/* text-align: center; */
	color: #7B7B7B;
	transition: all 0.2s;
}
.input-left {
	padding-left: 113px;
}
/* input:focus {
	padding-left: 113px;
} */
.button__form {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 387px;
	max-width: 387px;
	min-height: 86px;
	margin-bottom: 30px;
	background: #FFD60D;
	border: none;
	border-radius: 15px;
	box-shadow: 0px 2px 0px #D3B210;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	cursor: pointer;
	transition: all 0.1s;
}
.button__form:hover {
	transform: translateY(-3px);
	box-shadow: 0px 5px 0px #D3B210;
}
.button__form:active {
	transform: translateY(0);
	box-shadow: 0px 2px 0px #D3B210;
}
.form-main__contact {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 5px;
}
.form-main__w,
.form-main__v {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-size: 25px;
	transition: all 0.1s;
}
.form-main__w {
	margin-left: 25px;
	background-image: url('../img/w.svg');
}
.form-main__v {
	margin-left: 13px;
	background-image: url('../img/v.svg');
}
.form-main__w:hover,
.form-main__v:hover {
	transform: scale(1.2);
}

/* ----------------- */
h2 {
	font-weight: bold;
	font-size: 48px;
	line-height: 63px;
	text-align: center;
	color: #000000;
	margin-bottom: 70px;
}
h2 span {
	color: #2164E6;
}
.proff__items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.proff__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 360px;
	margin-bottom: 30px;
	transition: all 0.1s;
}
.proff__item:hover {
	box-shadow: 0 0 15px #c4c4c4;
	transform: translateY(-5px);
}
.proff__item-img {
	position: relative;
	width: 360px;
	height: 253px;
	margin-bottom: 22px;
	background-image: url('../img/proff/proff-item-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.proff__item:nth-child(2) .proff__item-img {
	background-image: url('../img/proff/proff-item-2.jpg');
}
.proff__item:nth-child(3) .proff__item-img {
	background-image: url('../img/proff/proff-item-3.jpg');
}
.proff__item:nth-child(4) .proff__item-img {
	background-image: url('../img/proff/proff-item-4.jpg');
}
.proff__item:nth-child(5) .proff__item-img {
	background-image: url('../img/proff/proff-item-5.jpg');
}
.proff__item:nth-child(6) .proff__item-img {
	background-image: url('../img/proff/proff-item-6.jpg');
}
.proff__item:nth-child(7) .proff__item-img {
	background-image: url('../img/proff/proff-item-7.jpg');
}
.proff__item:nth-child(8) .proff__item-img {
	background-image: url('../img/proff/proff-item-8.jpg');
}
.proff__item:nth-child(9) .proff__item-img {
	background-image: url('../img/proff/proff-item-9.jpg');
}
.proff__item-content {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	min-height: 128px;
	padding: 26px;
	color: #ffffff;
}
.proff__item-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
}
.proff__item-desc {
	font-size: 14px;
	line-height: 22px;
}

.main-button {
	margin-bottom: 22px;
}

/* -------------- */

.exit-bg {
	background-image: url('../img/exit-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.exit__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h3 {
	font-weight: bold;
	font-size: 42px;
	line-height: 60px;
	color: #FFFFFF;
}
.exit h3 {
	max-width: 504px;
	margin-left: 70px;
}

h3 span {
	color: #FFD60D;
}
.button--blue {
	background: #2164E6;
	box-shadow: 0px 2px 0px #254E9E;
	color: #FFFFFF;
}
.button--blue:hover {
	/* transform: translateY(-2px); */
	box-shadow: 0px 5px 0px #254E9E;
}

.button--blue:active {
	/* transform: translateY(0); */
	box-shadow: 0px 2px 0px #254E9E;
}
.repair__wrap-slider {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
}
.repair__number {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 152px;
	height: 79px;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	color: #FFFFFF;
	background: #FFD60D;
	border-radius: 10px;
	margin-bottom: 35px;
}
.repair__items-slider1,
.repair__items-slider2,
.repair__items-slider3 {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.repair__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 280px;
	height: 310px;
	background-color: #ffffff;
	transition: all 0.2s;
}
.repair__item:hover {
	box-shadow: 0 0 15px #c4c4c4;
	transform: translateY(-5px);
}
.repair__title {
	font-weight: bold;
	font-size: 38px;
	line-height: 46px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}
.repair__item-desc {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 22px;
	text-align: center;
}
/* .repair div {
	border: 1px solid red;
} */

.repair__item-img {
	position: relative;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	overflow: hidden;
}
.repair__item-img img {
	position: relative;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
}
.repair__items-slider1 .repair__item:nth-child(3) .repair__item-img {
	width: 210px;
}
.repair__items-slider1 .repair__item:nth-child(5) .repair__item-img {
	width: 143px;
}
.repair__items-slider2 .repair__item:nth-child(4) .repair__item-img {
	width: 222px;
}
.repair__items-slider3 .repair__item:nth-child(1) .repair__item-img {
	width: 165px;
}
.repair__items-slider3 .repair__item:nth-child(2) .repair__item-img {
	width: 141px;
}
.repair__items-slider3 .repair__item:nth-child(3) .repair__item-img {
	width: 228px;
}
.repair__items-slider3 .repair__item:nth-child(4) .repair__item-img {
	width: 220px;
}
.repair__items-slider3 .repair__item:nth-child(5) .repair__item-img {
	width: 194px;
}
/* ------------------ */

.install-bg {
	background-image: url('../img/install-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.installation__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.installation__l {
	max-width: 608px;
}
.installation__l h3 {
	font-size: 38px;
	margin-bottom: 90px;
}
.install__dogovor-wrap {
	width: 400px;
}
.install__dogovor {
	position: relative;
	display: flex;
	align-items: center;
	/* width: 400px; */
	height: 114px;
	padding-left: 156px;
	background: #FFD60D;
	border-radius: 10px;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-decoration: none;
	color: #000000;
	transition: all 0.5s;
	user-select: none;
}
.install__dogovor::before {
	position: absolute;
	left: 21px;
	bottom: 11px;
	content: '';
	width: 135px;
	height: 146px;
	background-image: url('../img/dogovor.png');
	background-repeat: no-repeat;
	background-size: 135px;
	transition: all 0.5s;
}
 .install__dogovor-wrap:hover .install__dogovor::before {
	bottom: 21px;
	transition: all 0.5s;
}
.install__dogovor:hover {
	box-shadow: 0 0 25px rgba(179, 179, 179, 0.8);
}
.form-install {
	position: relative;
}
.form-install::before {
	position: absolute;
	top: 78px;
	right: -137px;
	content: '';
	width: 194px;
	height: 105px;
	background-image: url('../img/label.svg');
	background-repeat: no-repeat;
	background-size: 194px ;
}

/* --------------- */

.cert__items {
	display: flex;
	justify-content: space-evenly;
}
.cert__item {
	width: 256px;
	height: 362px;
	box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.05);
	overflow: hidden;
}
.cert__item img{
	width: 100%;
}

/* --------------- */
section.questions {
	padding-top: 120px;
	padding-bottom: 120px;
}
.questions-bg {
	position: relative;
	background: linear-gradient(90deg, rgba(255, 228, 96, 0.9375) 0%, rgba(255, 234, 133, 0) 100%);
	z-index: 1;
}
.questions-bg::before {
	position: absolute;
	top: 50%;
	left: 35px;
	content: '';
	width: 355px;
	height: 659px;
	background-image: url('../img/ques-l.png');
	background-repeat: no-repeat;
	background-size: 355px;
	transform: translateY(-50%);
	z-index: -1;
}
.questions-bg::after {
	position: absolute;
	top: 50%;
	right: 149px;
	content: '';
	width: 171px;
	height: 232px;
	background-image: url('../img/ques-r.svg');
	background-repeat: no-repeat;
	background-size: 171px;
	transform: translateY(-50%);
	z-index: -1;
}
.questions__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.questions__wrap h2 {
	max-width: 553px;
	margin-left: 70px;
	margin-bottom: 0;
	text-align: left;
}
/* ---------------- */
.contact {
	position: relative;
}

.contact__map-wrap iframe {
	width: 100%;
	height: 680px;
}
.scrolloff {
	pointer-events: none;
}
.contact__form-wrap {
	position: absolute;
	top: 50%;
	left: 60%;
	max-width: 429px;
	background: #FFFFFF;
	border-radius: 15px;
	/* border: 1px solid red; */
	box-sizing: border-box;
	transform: translateY(-50%);
	box-shadow: 0 0 15px rgb(113, 113, 113);
}
.contact__form {
	border: 1px solid #D1D1D1;
	box-sizing: border-box;
	border-radius: 15px;
	margin: 16px 13px;
	padding: 20px 27px;
	font-size: 18px;
	line-height: 30px;
}
.contact__form-title {
	margin-bottom: 45px;
	font-weight: bold;
	font-size: 40px;
	color: #000000;
}
.contact__form>p:nth-child(2) {
	margin-bottom: 10px;
}
.contact__form>p:nth-child(3) {
	margin-bottom: 20px;
}
.contact__form>p:nth-child(4) {
	margin-bottom: 40px;
}
.contact__form p span {
	font-weight: bold;
}
.contact__phone {
	display: inline-block;
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 40px;
	text-decoration: none;
	color: #000000;
}
.contact__phone:hover {
	color: #2164E5;
}
/* .contact__form-wrap .form-main__contact {
	justify-content: flex-start;
} */

/* ------------------- */
footer {
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer__phone {
	color: #000000;
}
.footer__link-form {
	color: #000000;
}
.footer__phone:hover,
.footer__link-form:hover {
	color: #2164E5;
}

/* -------------- */
#form1,
#form2,
#form3,
#form4,
#form5 {
	position: relative;
}
.error {
	color: #cc0e0e;
}
#phone1-error,
#phone2-error,
#phone3-error,
#phone4-error,
#phone5-error {
	font-size: 13px;
	position: absolute;
	top: -21px;
	left: 50%;
	transform: translateX(-50%);
}

/* --------------- */
.form__modal {
	width: 300px;
}

.fancybox-content {
	padding: 60px;
	border-radius: 10px;
}

.form__modal input {
	width: 100%;
	max-width: 100%;
	height: 56px;
	padding: 26px 22px;
	border-radius: 10px;
}

.form__modal .button__form {
	width: 100%;
	min-height: 68px;
	border-radius: 10px;
}

.form__modal .form-main__desc {
	width: 100%;
	margin-bottom: 30px;
}

.form__modal .form-main__w,
.form__modal .form-main__v {
	display: inline;
}

.form__modal .form-main__w {
	margin-left: 5px;
}

.form__modal .form-main__v {
	margin-left: 5px;
}
.input-left__modal {
	padding-left: 64px !important;
}
/* ------------- */