* {
	padding: 0;
	margin: 0;
}
html {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
}
a,
a:visited,
a:focus,
a:active,
a:hover {
	outline: 0 none !important;
}

button:active,
button:focus {
	outline: none !important;
}

button::-moz-focus-inner {
	border: 0 !important;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.header__top {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: #ffffff;
}
.header__top-desc {
	font-size: 14px;
	line-height: 17px;
}
.header__top-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 293px;
	max-width: 293px;
	min-height: 52px;
	background: #FFD60D;
	border-radius: 5px;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	text-decoration: none;

}
header {
	padding-top: 200px;
	background-image: url('../img/header-1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}
